<footer class="footer">
  <div class="footer-content">
    <!-- Sobre -->
    <div class="footer-section">
      <h3>Our Love Story</h3>
      <p>Celebre o amor e crie memórias duradouras juntos.</p>
    </div>

    <!-- Links Rápidos -->
    <div class="footer-section">
      <h3>Links Rápidos</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Sobre</a></li>
        <li><a routerLink="/calendar">Calendário</a></li>
        <li><a routerLink="/messages">Mensagens</a></li>
      </ul>
    </div>

    <!-- Contato -->
    
  </div>

  <!-- Rodapé -->
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Our Love Story. Todos os direitos reservados.</p>
  </div>
</footer>
